.container {
  padding: 8rem 20rem 3rem 20rem;
  color: black;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titleContainer {
  width: 100%;
  justify-content: space-between !important;
  align-items: center;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 60px;
  display: flex;
  align-items: center;

  color: #000000;
}

.coloredTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  display: flex;
  align-items: center;
  margin-top: 0 !important;
  padding-bottom: 1rem;

  color: #eb498f;
}

.textContainer {
  width: 100%;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.fromText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.amountText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(54, 54, 54, 0.8);
}

.messageText {
  width: 800px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #848484;
}

.dateText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(54, 54, 54, 0.8);
}

.cardImage {
  width: 771px;
  height: 489px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.claimButton {
  width: 187px !important;
  height: 77px !important;
  border-radius: 20px !important;

  background: #eb498f !important;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.detailsButton {
  width: 187px !important;
  height: 77px !important;
  border-radius: 20px !important;
  background-color: white !important;

  border: 1px solid rgba(0, 0, 0, 0.4);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: rgb(33, 33, 33);
}

.groupButton {
  width: 187px !important;
  height: 55px !important;
  /* border-radius: 20px !important; */
  background-color: white !important;

  border: 1px solid rgba(0, 0, 0, 0.4);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px !important;
  display: flex;

  justify-self: center;
  align-items: center;
  text-align: center;

  color: rgb(33, 33, 33);
}

.selectedButton {
  width: 187px !important;
  height: 55px !important;
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.4);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px !important;
  display: flex;

  justify-self: center;
  align-items: center;
  text-align: center;

  color: rgb(33, 33, 33, 0.8);
}

.divider {
  width: 100%;
  height: 0px;

  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.messageContainer {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.metadataContainer {
  width: 777px;
  height: 263px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  justify-content: flex-start !important;
  align-items: flex-start !important;

  padding: 2rem;
}

.metadataTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(107, 107, 107, 0.8);
}

.metadataSubtitleContainer {
  width: 100%;
  justify-content: space-between !important;
}

.metadataSubtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(54, 54, 54, 0.8);
}

.yaySubtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #848484;
}

.yaySubtitle:hover {
  text-decoration: underline;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #848484;
}
