html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.centerEllipse {
  left: 50%;
  transform: translateX(-50%);
  top: -1400px;
  width: 1939px;
  height: 1939px;
  background-image: url(/ellipse.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
  z-index: -10;
}
