.navbar {
  position: fixed;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  z-index: 100;
  background: #fef7fa;
  border-bottom: 1px solid #d8d8d8;
  height: 72px;

  z-index: 10;
  color: white;
}

.logo {
  width: 120px;
}

.bellButton {
  margin-top: 7px;
  opacity: 0.5;
  transition: opacity 0.3s;
  color: black !important;
}

.bellButton:hover {
  opacity: 1;
}

.hamburgerButton {
  margin-top: 7px;
  opacity: 0.5;
  transition: opacity 0.3s;
  color: black !important;
}

.hamburgerButton:hover {
  opacity: 1;
}

.drawerBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Poppins";
}

.drawerButton {
  background-color: transparent !important;
  font-size: 1.2rem !important;
  margin-top: 10px;
  margin-left: 1rem;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
  padding: 0 0 0 0 !important;
  color: rgb(0, 0, 0);
  opacity: 0.5;
  transition: transform 0.3s ease;
}

.drawerButton:hover {
  opacity: 1;
}

.drawerButton:hover::before {
  transform: scaleX(1);
}

.drawerFooter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start !important;
}

.drawerFooterLabel {
  user-select: none;
  padding: 0.5rem 0;
  opacity: 0.8;
  color: black;
}

.drawerFooterButton {
  background-color: transparent !important;
  padding-left: 0 !important;
  justify-content: flex-start !important;
  color: black;
  opacity: 0.8;
  text-decoration: none !important;
}

.drawerFooterButton:hover {
  text-decoration: none !important;
  opacity: 1;
}
